<!-- bag-form -->

{{#partial "content"}}

    {{#if editBag}}
        <h1>Edit this entry!</h1>
        <form action="/backpack/new" method="post" class="well">
            <div class="form-control">
                <label for="bagName">Edit Backpack activity name</label>
                <input id="bagName" name="bagName" type="text">
            </div>
            <h2>Add items:</h2>
            <div class="form-control">
                <label for="itemName">Edit item name</label>
                <input id="itemName" name="itemName" type="text">
            </div>
            <div class="form-control">
                <label for="cost">Edit item cost</label>
                <input id="cost" name="cost" type="text">
            </div>
            <div class="form-control">
                <label for="weight">Edit item weight</label>
                <input id="weight" name="weight" type="text">
            </div>
            <div class="form-control">
                <label for="brand">Edit item brand</label>
                <input id="brand" name="brand" type="text">
            </div>

    {{else}}
        <h1>Add a new entry!</h1>
        <form action="/backpack/new" method="post" class="well">
            <div class="form-control">
                <label for="bagName">Backpack activity name</label>
                <input id="bagName" name="bagName" type="text">
            </div>
            <h2>Add items:</h2>
            <div class="form-control">
                <label for="itemName">Item name</label>
                <input id="itemName" name="itemName" type="text">
            </div>
            <div class="form-control">
                <label for="cost">Item cost</label>
                <input id="cost" name="cost" type="text">
            </div>
            <div class="form-control">
                <label for="weight">Item weight</label>
                <input id="weight" name="weight" type="text">
            </div>
            <div class="form-control">
                <label for="brand">Item brand</label>
                <input id="brand" name="brand" type="text">
            </div>
    {{/if}}

        <button type="submit" class="btn btn-default">Go!</button>
        </form>
{{/partial}}

{{> layout.hbs}}





<!-- bag-form -->