<!-- bag-form -->
<div class="row">
  <div class="col-md-push-2 col-md-8">
    <h2>Enter New Backpack Bag</h2>
    <form action="/backpacks" method="post" class="well">
    <div class="form-control">
      <label for="bagName">Backpack activity name</label>
      <input id="bagName" name="bagName" type="text">
    </div>
    <button type="submit" class="btn btn-success">Add bag</button>
    </form>
    <br>
    <a href="/" class="btn btn-primary index-btn">Home</a>
  </div>
</div>
<!-- bag-form -->