<!-- backpack-success.vtl -->
<div class="row">
  <div class="col-md-push-2 col-md-8">
    <h2>Success!</h2>
    <hr>
    <p>Your backpack has been created.</p>
    <p>Click the link below to view all the backpack bags you have created.</p>
    <br>
    <a href="/" class="btn btn-success index-btn">View Bags</a>
  </div>
</div>
<!-- backpack-success.vtl -->